# システムファイル
Thumbs.db
ehthumbs.db
Desktop.ini

# Python関連
__pycache__/
*.py[cod]
*.env
venv/
env/
.venv/
.env/

# IDE関連
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# Anaconda関連
.anaconda/
conda-meta/

# その他不要なファイルやディレクトリ
Downloads/
Microsoft/
OneDrive/

# Ignore .gitignore.txt
.gitignore.txt
